*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.Profile-info{
    width: 100vw;
    height: 20%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(201, 200, 200, 0.656);
}
.Profile-info .profile{
    width: 850px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Profile-info .profile .prof-top img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.follow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
p{
    padding: 14px 10px;
}
h2,h3{
    padding: 0 10px;
}


@media (max-width:600px) {
    .Profile-info{
        width: 100%;
        justify-content: space-between;
        background-color: white;
    }
    .Profile-info .profile{
        width: 100%;
    }
    .Profile-info .profile .prof-top img{
        margin-left: 15rem;
        width: 250px;
        height: 250px;
    }
    .Profile-info .profile .prof-btm{
        margin-left: 8rem;
        font-size: 25px;
        width: 100%;
    }
}


@media (max-width:1100px) {
    .Profile-info .profile{
        width: 100%;
    }
}